.transition-group {
    position: relative;
  }
  
  .route-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .crossfade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .crossfade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
  }
  
  .crossfade-exit {
    opacity: 1;
    z-index: 0;
  }
  
  .crossfade-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
  }
  